.icon-container {
    position: relative;
    img {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 3%; /* Set the width to 50% of the original size */
      height: auto; /* Maintain aspect ratio */
    }
}

