@import "../../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: transparent;
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      h2 {
        font-size: 30px;
        letter-spacing: 10px;
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 300;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .slidingTextContainer {  
    user-select: none; /* Disable text selection */
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: white;
    width: 50%;
    font-weight: bold;
    opacity: 0.2;
    bottom: 0;
  }
}

.redirect-button{
  background: black;
  color: white;
  border-radius: 4px;
  font-weight: bolder;
  width: 100px;
  height: 40px;
  border: none;
}

.redirect-button:hover{
  background-color: green;
  cursor: pointer;
  transform: scale(1.1);
}
.button-container{
  position: absolute;
  top: 10px;
  right: 10px;
}
